body {
    width: 100%;
    height: 100%;
    background: #FAFAFA;
}


/*父容器*/

.container {
    width: 100%;
    font-size: .875rem;
    /*flex的兼容布局*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
/*搜索容器*/
#searchContainer{
    width: 90%;
    padding: 0 5%;
    height: 3rem;
    background: #FF4E30;
    /*flex的兼容布局*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    position: relative;
}
#searchContainer input{
    width: 100%;
    height: 1.5rem;
    padding: 0 2.5%;
    border-radius: .2rem;
    font-size: .75rem;
    border: 1px solid #ddd;
    background: #eee;
    outline: none;
    z-index: 1;
}
#searchContainer button{
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    z-index: 1;
    right: 6%;
    top: .8rem;
    border: none;
    background: url(../commonLib/images/search.png);
    background-size: 100%;
    outline: none;
}
/*门店列表容器*/
#shopListContainer{
    height: auto;
    padding: 2% 5%;
    /*flex的兼容布局*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
}
.shopContent{
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #ddd;
    padding: .5rem;
    border-radius: .2rem;
    /*flex的兼容布局*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}
.shopContent>div{
    width: 100%;
    /*flex的兼容布局*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
}
.shopContent>div>div{
    /*flex的兼容布局*/
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-around;
}
.shopContent>div p{
    margin: .5rem 0;
}
.shopAdd,.shopPhone{
    font-size: .75rem;
}
.shopContent>div p:last-child{
    margin-top: 0;
}
.shopContent>div img{
    width: 2rem;
    height: 2rem;
    border: 1px solid #333;
    margin-left: .3rem;
}
.shopContent a{
    background: #FF4E30;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    border-radius: .2rem;
}