<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <!-- ios下删除默认的苹果工具栏和菜单栏 -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!-- ios下控制状态栏显示样式，黑色 -->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!-- 电话号码非默认识别 -->
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/couponFunction.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/commonLib/css/common/reset.css">
    <!-- @media css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/commonLib/css/common/media.css">
    <title>卡券管理</title>
    <!-- 外部库引用 -->
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/couponFunction.js"></script>
    <script>
    $(function(){
        $("#couponType").change(function () {
           var type = $(this).children('option:selected').val()
               console.log(type);
               $.ajax({
                type: "POST",
                url: "{:U('admin/create/change_card_type')}",
                data: {'card_type':type},
                dataType: "json",
                success:function (data) {
                    console.log(data);
                    $("#tbody").html("");
                    $.each(data,function (index,obj) {

                        console.log(obj['card_type']);
                        var node = "<tr>"+
                            "<td>"  +obj['card_type'] + "</td>"+
                            "<td>"+
                            "<span>" +obj['begin_timestamp'] +"</span>"+
                            "<span> 至 </span>"+
                            "<span>"  +obj['end_timestamp'] + "</span>"+
                            "</td>"+
                            "<td> "+obj['status'] +"</td>"+
                            "<td>"+
                            "<a class = 'cancelCoupon' href = '#' id = 'c1' > 删除 </a>"+
                            "<a class = 'pushCoupon' href = \"{:U('admin/create/readBarcode',array('card_id'=>$vo['card_id']))}\" id = 'p1' > 投放 </a>"+
                            "</td>"+
                            "</tr> ";
                        console.log(node);
                        $("#tbody").append(node);
                    })
                }
            });
        })
    })
    </script>
</head>

<body>
<!-- 父容器 -->
<div class="container">
    <!-- 表格详情 -->
    <form action="" method="get">
        <table id="table">
            <!-- 表头 -->
            <thead>
            <tr>
                <th class="th1">
                    <select id="couponType">
                        <option value="ALL">全部卡券</option>
                        <option value="GIFT">兑换券</option>
                        <option value="DISCOUNT">折扣券</option>
                        <option value="GENERAL_COUPON">通用券</option>
                    </select>
                </th>
                <th class="th2">卡券有效期</th>
                <th class="th3">
                    <select id="couponState">
                        <option value="0">全部状态</option>
                        <option value="1">已过期</option>
                        <option value="2">未过期</option>
                    </select>
                </th>
                <th class="th4">操作</th>
            </tr>
            </thead>
            <!-- 表身 -->
            <tbody id="tbody">
            <!-- 循环列表 -->
            <foreach name="res" item="vo">
            <tr>
                <td>{$vo['card_type']}</td>
                <td>
                    <span>{$vo['begin_timestamp']}</span>
                    <span>至</span>
                    <span>{$vo['end_timestamp']}</span>
                </td>
                <td>{$vo['status']}</td>
                <td>
                    <a class="cancelCoupon" href="#" id="c1">删除</a>
                    <a class="pushCoupon" href="{:U('admin/create/readBarcode',array('card_id'=>$vo['card_id']))}" id="p1">投放</a>
                </td>
            </tr>
            </foreach>
            </tbody>
        </table>
        <!-- 确认删除弹窗 -->
        <div id="mask"></div>
        <div id="confirmWs">
            <div class="ws_head">
                <h3>您真的要删除么？</h3>
            </div>
            <div class="ws_body">
                <span class="true">确认</span>
                <span class="cancel">取消</span>
            </div>
        </div>
    </form>
    <!-- 尾部新建优惠券 -->
    <div id="footerHack"></div>
    <div id="footer">
        <button id="newCoupon" type="button">新建优惠券</button>
    </div>
    <!-- 没有门店时显示提示 -->
    <div id="empty">
        <img src="__PUBLIC__/commonLib/images/empty.png">
        <h3>暂无数据哦</h3>
    </div>
</div>
</body>

</html>