<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
    <!-- ios下删除默认的苹果工具栏和菜单栏 -->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!-- ios下控制状态栏显示样式，黑色 -->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!-- 电话号码非默认识别 -->
    <meta content="telephone=no" name="format-detection">
    <link rel="stylesheet" type="text/css" href="../css/memberUpgrade.css">
    <link rel="stylesheet" type="text/css" href="../../commonLib/css/common/reset.css">
    <!-- @media css -->
    <link rel="stylesheet" type="text/css" href="../../commonLib/css/common/media.css">
    <title>会员等级</title>
</head>

<body>
    <!-- 父容器 -->
    <div class="container">
        <!-- 会员到期日 -->
        <div id="headerContainer">
            <h1>普通会员</h1>
            <p>有效期至<span>2020.08.08</span></p>
        </div>
        <!-- 会员升级信息 -->
        <div id="msgContainer">
            <img src="../images/memberUpgrade/money.png">
            <!-- 升级信息 -->
            <div class="up_container">
                <div class="up_txt">
                    <span>会员升级</span>
                </div>
                <div class="up_msg">
                    <span>升级</span>
                    <p>再获得<span>632</span>积分升级为黄金会员</p>
                </div>
            </div>
            <!-- 消费得积分 -->
            <div class="msg_container">
                <div class="msg_msg">
                    <img src="../images/memberUpgrade/heart.png">
                    <span>每消费20元获得1积分</span>
                </div>
            </div>
        </div>
    </div>
    <!-- 外部库引用 -->
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.9.0/jquery.min.js"></script>
</body>

</html>
