*{margin: 0;padding: 0;list-style: none;}
/*
KISSY CSS Reset
理念：1. reset 的目的不是清除浏览器的默认样式，这仅是部分工作。清除和重置是紧密不可分的。
2. reset 的目的不是让默认样式在所有浏览器下一致，而是减少默认样式有可能带来的问题。
3. reset 期望提供一套普适通用的基础样式。但没有银弹，推荐根据具体需求，裁剪和修改后再使用。
特色：1. 适应中文；2. 基于最新主流浏览器。
维护：玉伯<lifesinger@gmail.com>, 正淳<ragecarrier@gmail.com>
 */

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */ {
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */ {
  font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp { font-family: courier new, courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol { list-style: none; }

/** 重置文本格式元素 **/
a { text-decoration: none; }
/*a:hover { text-decoration: underline; }*/


/** 重置表单元素 **/
legend { color: #000; } /* for ie6 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea { font-size: 100%; } /* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table { border-collapse: collapse; border-spacing: 0; }

/* 清除浮动 */
.ks-clear:after, .clear:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.ks-clear, .clear {
  *zoom: 1;
}

.main {padding: 30px 100px;}
.main h1{font-size:36px; color:#333; text-align:left;margin-bottom:30px; border-bottom: 1px solid #eee;}

.helps{margin-top:40px;}
.helps pre{
  padding:20px;
  margin:10px 0;
  border:solid 1px #e7e1cd;
  background-color: #fffdef;
  overflow: auto;
}

.icon_lists li{
  float:left;
  width: 100px;
  height:180px;
  text-align: center;
}
.icon_lists .icon{
  font-size: 42px;
  line-height: 100px;
  margin: 10px 0;
  color:#333;
  -webkit-transition: font-size 0.25s ease-out 0s;
  -moz-transition: font-size 0.25s ease-out 0s;
  transition: font-size 0.25s ease-out 0s;

}
.icon_lists .icon:hover{
  font-size: 100px;
}
/*frozen.css中改*/
.ui-checkbox input:checked:before, .ui-checkbox-s input:checked:before{
  margin-top: -8px;
}
.ui-checkbox input:before, .ui-checkbox-s input:before{
  margin-top: -8px;  
}
.ui-radio input:before{
  margin-top: -8px;  
}
.ui-radio input:checked:after{
  margin-top: -8px;    
}

/*新加内容*/
.zzlist a{
    display: -webkit-box;
    width: 100%;
    text-decoration: none;
}
.shzt{
  height: 70px;
  line-height: 70px;
  margin-right: 28px;
  font-size: 16px;
}
.ui-txt-green{
  color:#48d223;
}
.shzt_text{
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    border: 0;
    background: none;
    padding-left: 95px;
}
/*.margin100{
  margin-top: 100px;
}*/
.margin10{
  margin-top: 10px;
}
.margin100 a{
  display: block;
}
.activity_con{
  width: 96%;
  margin: 0 auto;
}
.activity_con h2{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.activity_con img{
  width: 100%;
}
.activity_con h4{
  font-size: 16px;
  margin-bottom: 10px;
}
.activity_con p{
  font-size: 16px;
  margin-bottom: 10px;
}
.ewm{
  width: 90%;
  margin: 0 auto;
}
.ewm img{
  width: 90%;
  position: absolute;
  top: 50%;
  margin-top: -50%;
}
.success_icon{
  font-size: 1.05rem;
  margin-top: 60px;
  margin-bottom: 40px;
  color: #48d223;
}
.success_p{
  font-size: .215rem;
  color: #666;
}
.ui-border-t label{
  width: 100%;
  display: block;
}
.signed_radio span{
  width: 85%;
  display: inline-block;
  font-size: 16px;
}
@media screen and (min-width: 414px) {
  .activity_con h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .activity_con img{
    width: 100%;
  }
  .activity_con h4{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .activity_con p{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .signed_radio span{
    width: 90%;
    display: inline-block;
    font-size: 16px;
  }
  .ui-radio input:before{
    margin-top: -1px;  
  }
  .ui-radio input:checked:after{
    margin-top: -1px;    
  }
}
